body{
    background-image: url(../imagenes/fondoPizza.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
    background-possition: center;
    color:white
}

/* Navbar container */
.navbar {
  position:relative;
  margin: 0;
  padding: 0;
  right:0.6%;
  width:101.1%;
  bottom:8px;
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a.btn {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  min-width: 160px;
  background-color: inherit;
}

/* Add a red background color to navbar links on hover */
.navbar a.btn:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a.btn {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a.btn:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  position:fixed;
  display: block;
}

.navbartitle {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

.navbartitle:hover{
   color: #f2f2f2;
   text-align: center;
   text-decoration: none;
}

/*fin navbar */

.container{
  position:fixed;
  left:9%;
  width:80%;
  max-width:80%;
  height:85%;
  max-height:85%;
  margin:10px 10px;
  background:rgba(0,0,0,0.5);
  border-radius:3%;
  color:white;
  overflow-y: scroll;
  overflow-x: hidden;
}

.title{
  text-align:center;
  margin:10px 10px;
}

.group{
 float:left;
 width:98%;
 max-width:98%;
 height:20%;
 max-height:20%;
 margin: 1% 1%;
 background:rgba(0,0,0,0.5);
 border-radius:3%;
 color:white;
}

.info{

     width:11%;
     height:8%;
     border-radius:5px;
     float:left;
}

.data{
position:relative;
    float:left;
    margin:3% 0%;
    width:400px;
    max-width:400px;
}

.inf{
float:left;
    margin:0% 3%;
    width:40%;
    max-width:40%;
    height:20%;
    max-height:20%;
}

.MainData{
float:left;
    margin:0% 3%;
    width:20%;
    max-width:20%;
    height:20%;
    max-height:20%;
}

.btn{
   border: none;
   color: white;
   padding: 2px 5px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   float: left;
}

.group:hover{
    opacity: 0.8;
    color:white;
}

.button{
position:absolute;
top:83.5%;
    background-color: #c61114; /* Red */
    margin: 2% 0%;
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius:5%;
}

.button:hover{
   opacity: 0.8;
}

