<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Editar Usuario</title>
    <link href="../static/css/RegistrationView.css" th:href="@{/css/RegistrationView.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar">
    <a class="navbartitle" href="/">Pizza Hunter</a>
    <div class="dropdown">
        <button class="dropbtn" th:text="${user.name}"></button>
        <div class="dropdown-content">
            <div th:each="role : ${user.roles}" >
                <div th:if="${role.name} == 'ADMIN'">
                    <a class="btn" href="/admin/empresas">Administrar</a>
                    <a class="btn" href="/admin/listar">Ver Usuarios</a>
                </div>
                <div th:if="${role.name} == 'AdminEmp'">
                    <a class="btn" href="/AdminEmp/pedidosEmpresa">Pedidos</a>
                </div>
            </div>
            <a class="btn" href="/misPedidos">Mis Pedidos</a>
            <a class="btn" href="/logout">logout</a>
        </div>
    </div>
</div>
<div class="container">
    <form  th:action="@{/editUser}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}" th:value="${user.id}"/>
        <input type="hidden" th:field="*{password}" th:value="${user.password}"/>
        <input type="hidden" th:field="*{passwordConfirm}" th:value="${user.passwordConfirm}"/>
        <input type="hidden" th:field="*{roles}" th:value="${user.roles}"/>
        <div>
            <input type="text" th:field="*{email}" placeholder="E-mail" class="form-control" />
            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
        </div>
        <div>
            <input type="text" th:field="*{name}" placeholder="Name" class="form-control"/>
        </div>
        <div class="select">
            <label>Ciudad:</label>
            <select th:field="*{ciudad}">
                <option th:each="MiCiudad : ${ciudades}" th:value="${MiCiudad.idCiudad}" th:text="${MiCiudad.name}"></option>
            </select>
        </div>
        <div>
            <button class="submit" type="submit">Guardar Cambios</button>
        </div>
        <span th:utext="${successMessage}"></span>
    </form>
</div>
<a class="btn1" href="/bienvenidos">Atras</a>
</body>
</html>