<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Empresa</title>
    <link href="../static/css/listasView.css" th:href="@{/css/listasView.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="navbar">
    <a class="navbartitle" href="/bienvenidos">Pizza Hunter</a>
    <div class="dropdown">
        <button class="dropbtn" th:text="${user.name}">nombre</button>
        <div class="dropdown-content">
            <div th:each="role : ${user.roles}" >
                <div th:if="${role.name} == 'ADMIN'">
                    <a class="btn" href="/admin/empresas">Administrar</a>
                    <a class="btn" href="/admin/listar">Ver Usuarios</a>
                </div>
                <div th:if="${role.name} == 'EMP'">
                    <a class="btn" href="/AdminEmp/pedidosEmpresa">Pedidos</a>
                </div>
            </div>
            <a class="btn" href="/misPedidos">Mis Pedidos</a>
            <a class="btn" href="/user/edit">Cambiar Datos</a>
            <a class="btn" href="/logout">logout</a>
        </div>
    </div>
</div>


<div class="container">
    <div>
        <table class="table table-striped">
            <caption><h1>Lista de Restaurantes</h1></caption>
            <tr class="cabecera">
                <th>Id</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Descripcion</th>
                <th>Calificacion</th>
                <th>Ciudad</th>
                <th>Imagen</th>
                <th colspan="4" align="center">Acciones</th>
            </tr>
            <tr class="datos" th:each="empresa : ${empresas}">
                <td th:text="${empresa.idEmpresa}">Id</td>
                <td th:text="${empresa.nombre}">description</td>
                <td th:text="${empresa.telefono}">telefono</td>
                <td th:text="${empresa.descripcion}">descripcion</td>
                <td th:text="${empresa.calificacion}">calificacion</td>
                <td th:each="ciudad : ${empresa.ciudad}" th:text="${ciudad.name}">ciudad</td>
                <td><img class="info" th:src="${empresa.image}" alt="Imagen no establecida" width="50" height="50" /></td>
                <td><a class="btn" th:href="${ '/admin/empresa/' + empresa.idEmpresa}">Ver</a></td>
                <td><a class="btn" th:href="${ '/admin/empresa/eliminar/' + empresa.idEmpresa}">Eliminar</a></td>
                <td><a class="btn" th:href="${ '/admin/empresa/editar/' + empresa.idEmpresa}">Editar</a></td>
                <td><a class="btn" th:href="${ '/admin/options/' + empresa.idEmpresa}">Menu</a></td>
            </tr>
        </table>
    </div>
</div>
<a class="btnl" href="/bienvenidos">Atras</a>
<a class="btnr" href="/admin/empresa/new">Nuevo</a>
</body>
</html>