<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Empresa</title>
    <link href="../static/css/listasView.css" th:href="@{/css/listasView.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="navbar">
    <a class="navbartitle" href="/bienvenidos">Pizza Hunter</a>
    <div class="dropdown">
        <button class="dropbtn" th:text="${user.name}">nombre</button>
        <div class="dropdown-content">
            <div th:each="role : ${user.roles}" >
                <div th:if="${role.name} == 'ADMIN'">
                    <a class="btn" href="/admin/empresas">Administrar</a>
                    <a class="btn" href="/admin/listar">Ver Usuarios</a>
                </div>
                <div th:if="${role.name} == 'EMP'">
                    <a class="btn" href="/AdminEmp/pedidosEmpresa">Pedidos</a>
                </div>
            </div>
            <a class="btn" href="/misPedidos">Mis Pedidos</a>
            <a class="btn" href="/user/edit">Cambiar Datos</a>
            <a class="btn" href="/logout">logout</a>
        </div>
    </div>
</div>


<div class="container">
    <div>
        <table class="table table-striped">
            <caption><h1>Lista de Paises</h1></caption>
            <tr class="cabecera">
                <th>Id</th>
                <th>Nombre</th>
                <th colspan="4" align="center">Acciones</th>
            </tr>
            <tr class="datos" th:each="pais : ${paises}">
                <td th:text="${pais.idPais}">id</td>
                <td th:text="${pais.idPais}">name</td>
                <td><a class="btn" th:href="${ '/admin/pais/' + pais.idPais}">Ver</a></td>
                <td><a class="btn" th:href="${ '/admin/pais/eliminar/' + pais.idPais}">Eliminar</a></td>
                <td><a class="btn" th:href="${ '/admin/pais/editar/' + pais.idPais}">Editar</a></td>
            </tr>
        </table>
    </div>
</div>
<a class="btnl" href="/bienvenidos">Atras</a>
<a class="btnr" href="/admin/pais/new">Nuevo</a>
</body>
</html>